.deepblue-admin {
    .layout-content {
        padding: 0px;

        .md-toolbar {
            background-color: #ffffff;

            .md-title {
                color: black;
            }
        }
    }
}
