/node_modules
dist
/.tmp
/.sass-cache
/bower_components
.idea
*.iml
*.suo
/bin
/obj/Debug
*.dat
/.vs/config/applicationhost.config
/test/karma.conf.js
.DS_Store
/app/scripts/app.constants.js
*.orig
*.xlsx
